{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="background-image login">
  <div class="d-flex align-items-center justify-content-start max-vh-100">
    <div class="container">
      <div class="row" style="margin-left:0;">
        <div class="col-md-6 d-flex flex-column justify-content-center text-center"
             style="min-height: 100vh; background-color: rgba(128,128,128,0.85);
                    border: solid 1px black; border-radius: 10px; padding: 30px;
                    font-family: fantasy;">
          <h3 class="mb-4">Email Sent</h3>
          <p class="text-light fs-5">
            If an account exists with the email you entered, a password reset link has been sent.
            Please check your inbox (and spam folder).
          </p>

          <a href="{% url 'users:login' %}" class="btn btn-primary mt-3 w-100">Back to Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
